.wrapper {
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    padding: 5vh 5vw;
    flex-direction: column;
}

.flex {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    row-gap: 2vw;
    column-gap: 2vw;
}

.border {
    border-radius: 5vw;
    border: 1vw solid black;
}

h2 {
    font-size: calc(100vw / 20);
}

.a,.bc {
    width: 100%;
    height: 50%;
}

.b {
    width: 70%;
    height: 100%;
}

.c {
    width: 30%;
    height: 100%;
}

@media screen and (max-width: 768px) {

    .flex {
        flex-direction: column;
    }

    .a,.c {
        height: 18vh;
        width: 100%;
    }

    .bc {
        height: fit-content;
    }

    .b {
        height: 50vh;
        width: 100%;
    }

}