.wrapper {
    margin: 0;
    height: 95vh;
}

.box {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #666667;
    border: 1vh solid white;
    /*border-radius: 3vw;*/
    text-align: center;
}

.flex {
    display: flex;
}

.header-content {
    height: 10%;
}

.header {
    width: 90%;
}

.main-content {
    height: 70%;
    flex-direction: column;
}

.box-345 {
    height: 60%;
}

.box-45 {
    width: 90%;
}

.bath-section {
    height: 40%;
    width: 89%;
}

.ad {
    height: 40%;
    width: 11%;
}

.logo,.nav,.related,.box-89 {
    width: 10%;
}

.nav {
    height: 100%;
}

.box-6789 {
    height:40%;
    flex-direction: row-reverse;
}

.types {
    width: 80%;
    height: 190%;
    align-self: end;
}

.related {
    height: 190%;
    align-self: end;
}

.store,.tools {
    height: 50%;
}

.footer {
    height: 20%;
}

.box-89 {
    flex-direction: column;
}

.box:hover {
    background-color: darkcyan;
    color: white;
}

@media screen and (max-width: 600px) {

    .box-345 {
        flex-direction: column;
        height: 30%;
    }

    .nav,.bath-section,.ad,.box-45 {
        width: 100%;
    }

    .nav {
        height: 30%;
    }

    .box-45 {
        height: 70%;
    }

    .bath-section,.ad {
        height: 100%;
    }

    .box-6789 {
        flex-direction: column;
        height: 70%;
    }

    .types {
        order: -1;
        width: 100%;
        height: 50%;
    }

    .related {
        width: 100%;
        height: 30%;
    }

    .box-89 {
        flex-direction: row;
        width: 100%;
        height: 20%;
    }

    .store,.tools {
        width: 50%;
        height: 100%;
    }

    .main-content {
        height: 80%;
    }

    .footer {
        height: 10%;
    }
}