.container {
    display: flex;
    justify-content: center;
    column-gap: 20px;
    row-gap: 20px;
    flex-wrap: wrap;
}

.card {
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    border-radius: 10px;
}

.card-header {
    font-weight: lighter;
    text-transform: capitalize;
}

.card-description {
    text-align: center;
    padding: 0;
    margin: 0;
}

button {
    color: white;
    background-color: #000;
    width: 50%;
    height: 15%;
    margin: 20px;
    border-radius: 10px;
}

button:hover {
    background-color: white;
    color: black;
}
