.users {
    display: flex;
    flex-wrap: wrap;
    width: 40%;
    margin: 0 auto;
    align-items: center;
}
.user {
    width: 40%;
    display: flex;
    column-gap: 10px;
    align-items: center;
    justify-content: end;
}