.main-container {
    background-color: cadetblue;
    width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 20px 0;

}

.row-group {
    display: flex;
    justify-content: center;
}

.content-card>p {
    text-align: justify;
    box-sizing: border-box;
    width: 400px;
    padding-right: 20px;
    margin-top: 0;
}
.content-card>h2 {
    margin: 10px 0;
}
img {
    width: 30px;
    height: 30px;
    order: -1;
    margin: 20px;

}

.card {
    display: flex;
    align-items: center;
    background-color: orange;
    margin: 10px;
}
